

/*============================
searchQuick　クイックサーチ
============================*/
.searchQuick {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 50px 0;
  width: 100%;

  @include xs {
    width: 100%;
    letter-spacing: normal;
    margin: 0 auto;
    padding: 0 0 25px 0;
  }
  .searchQuickWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 24px);
    max-width: $contentWidth;
    margin: 0 auto;
    @include xs {
      display: block;
      width: 100%;
    }
  }

  h3 {
    width: 190px;
    vertical-align: middle;
    letter-spacing: normal;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 700;
    font-size: rem(20);
    color: $searchQuickBoxHeadColor;
    line-height: 1.4;
    @include xs {
      display: none;
      background: transparent;
      padding: 10px;
      font-size: rem(18);
      width: 100%;
    }
  }
  //h3
  div.selectBox {
    width: calc(100% - (178px + 25px)); //178px "お仕事クイック検索"(タイトル)のwidth, 25px タイトルの右マージン
    letter-spacing: normal;
    @include xs {
      width: 100%;
    }
    div.selectBoxInner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @include xs {
        display: block;
        width: calc(100% - 24px);
        max-width: $contentWidth;
        margin: 0 auto;
      }
      span {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc((100% - ((56px * (2 - 1)) + 116px + 18px)) / 2);  //56px "×"部分のwidth, 116px "検索"ボタンのwidth, 18px "検索"ボタンの左マージン
        color: $searchQuickBoxHeadColor;
        text-align: center;
        font-size: rem(35);
        &:last-of-type {
          margin-left: 20px;
          flex-basis: 110px;
        }

        &:nth-last-of-type(2) {
          &.crossSelect {
            display: none; //最後の要素の隣の「×」を非表示
          }
        }

        @include xs {
          display: block;
          width: 100%;
          padding: 0;
          &:not(:first-child) {
            margin-top: 10px;
          }
          &:last-of-type {
            margin-left: 0;
            width: 100%;
          }
        }
        &.pcLayout {
          color: $baseColor;
        }
        select, input {
          @extend %quickSearchAppearanceNoneBase;
          background-color: #ffffff;
          padding: 10px;
          font-size: rem(14);
          padding-right: 35px;
          display: block;
          width: 100%;
          height: 50px;
          cursor: pointer;
          border: 1px solid #e9e9e9;
          -webkit-transition: all .3s;
          transition: all .3s;
          color: $subColorDarkGray;
          background-image: url(#{$imgDir}arrow/ico_select_arrow.png);
          background-position: right 10px center;
          background-size: 12px auto;

          &::-ms-expand {
            display: none;
          }
          &:hover {
          }
          @include xs {
            width: 100%;
          }
        }

        input {
          background-image: none;
        }

        //select
        button {
          @extend %quickSearchAppearanceNoneBase;
          padding: 10px 20px;
          background: $searchSubmitBtnColor;
          display: block;
          color: $searchSubmitBtnFontColor;
          font-size: rem(16);
          -webkit-transition: all .3s;
          transition: all .3s;
          width: 100%;
          height: 50px;
          border: solid 2px $searchSubmitBtnBorderColor;
          &:hover {
            opacity: .7;
          }
          @include xs {
            margin: 0 auto;
          }
        }//button

        &.crossSelect{
          flex-basis: 60px;
          padding: 0;
          @include xs {
            line-height: .5em;
          }
        }
      }//span


    }//.selectBoxInner
  }//.selectBox
}//searchQuick

