// =======================================================
// recommendJob
// =======================================================
.recommendJob {
    display: none;
    padding: 30px 0 92px;
    position: relative;
    z-index: 0;
    @include minWidthXs {
        padding: 0 0 87px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../../public/images/contentBox/new_jobs_bg_sp.png");
        z-index: -1;
        @include minWidthXs {
            // height: calc(100% - 83px);
            // height: 100%;
            background-image: url("../../../public/images/contentBox/new_jobs_bg_pc.png");
        }
    }
}

.recommendJobInner {
    width: calc(100% - 24px);
    margin: 0 auto;
    @include minWidthXs {
        width: calc(100% - 48px);
    }
}

.recommendJobTitle {
    max-width: $contentWidth;
    margin: 0 auto 35px;
    padding-top: 18px;
    text-align: center;
    @include minWidthXs {
        margin-bottom: 59px;
        padding-top: 95px;
    }
    .en,
    .ja {
        display: block;
        color: $recommendJobTitleColor;
        font-weight: 500;
        line-height: 1;
    }
    .en {
        font-family: "Poppins";
        font-weight: 600;
        font-style: italic;
        // letter-spacing: 0.02em;
        margin-bottom: -10px;
        // font-size: rem(38);
        font-size: 33px;
        line-height: 50px;
        color: #fff;
        @include minWidthXs {
            // font-size: rem(54);
            font-size: 66px;
            line-height: 66px;
            margin-bottom: -2.5px;
        }
    }
    .ja {
        // font-size: rem(15);
        font-size: 15px;
        font-weight: 700;
        // letter-spacing: 0.02em;
        line-height: 25px;
        color: #cce3ff;
        @include minWidthXs {
            // font-size: rem(22);
            font-size: 30px;
            line-height: 51px;
        }
    }
}

.recommendJobBox {
    position: relative;
    width: 75%;
    max-width: 280px;
    margin: 0 auto;
    @include minWidthXs {
        width: calc(100% - 24px);
        //max-width: $contentWidth;
        max-width: 960px;
    }
}

.recommendJobSlide {
    overflow: hidden;
}

.recommendJobList {
    .swiper-slide {
        height: auto;
        @include minWidthXs {
            width: 300px;
            &:hover {
                .recommendJobImg {
                    img {
                        transform: scale(1.05) rotate(0.1deg);
                    }
                }

                .recommendJobInfoAdd {
                    //background: rgba($recommendJobInfoAddBgColor, .5);
                    background: $subColor;
                }
            }
        }
        & > a {
            display: block;
            height: 100%;
        }
    }
}

.recommendJobCols {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $white;
    font-size: rem(13);
    &:hover {
        opacity: 1 !important;
    }
    @include minWidthXs {
        font-size: rem(13);
    }
}

.recommendJobImg {
    position: relative;
    min-height: 185px;
    overflow: hidden;
    padding-bottom: 30px;
    @include minWidthXs {
        min-height: 200px;
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: auto;
        vertical-align: middle;
        transform: scale(1) rotate(0.1deg);
        transform-origin: center center;
        transition: transform 0.3s;
        will-change: contents;
        z-index: 0;
    }
}

.recommendJobInfo {
    min-height: calc(
        100% - (200px + 40px)
    ); //高さ固定用プロパティ　(img + ボタン)を除いた高さ
    padding: 10px 16px 27px;
    position: relative;
    @include minWidthXs {
        padding: 10px 32px 30px;
    }
    .koyktyName {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 15.5px;
        border-radius: 0;
        color: $white;
        // font-size: rem(12);
        font-size: 13px;
        z-index: 1;
        height: 25px;
        line-height: 26px;
        font-weight: 400;
        @include minWidthXs {
            // font-size: rem(13);
            font-size: 14px;
            padding: 0 10px;
        }
        &.indicator1 {
            //正社員
            background-color: $seisyainColor;
        }
        &.indicator2 {
            //契約社員
            background-color: $keiyakusyainColor;
        }
        &.indicator3 {
            //パートアルバイト
            background-color: $parttimeColor;
        }
        &.indicator4 {
            //派遣社員
            background-color: $hakensyainColor;
        }
        &.indicator5 {
            //紹介予定派遣
            background-color: $syoukaiyoteiColor;
        }
        &.indicator6 {
            //特定派遣
            background-color: $tokuteihakenColor;
        }
        &.indicator7 {
            //職業紹介
            background-color: $syokugyousyoukaiColor;
        }
        &.indicator8 {
            //インターンシップ
            background-color: $internColor;
        }
        &.indicator99 {
            //その他
            background-color: $etcColor;
        }
    }

    .jobTitle {
        margin-bottom: 3px;
        padding-top: 23px;
        padding-bottom: 13px;
        border-bottom: 1px solid #ddd;
        // font-size: rem(14);
        font-size: 14px;
        line-height: 19px;
        font-weight: 500;
        @include minWidthXs {
            // font-size: rem(16);
            font-size: 16px;
            line-height: 27px;
        }
    }

    .jobSyksy,
    .jobMoney,
    .jobTime {
        margin-top: 7px;
    }

    .jobArea,
    .jobSyksy,
    .jobMoney,
    .jobTime {
        font-size: 13px;
        line-height: 20px;
        padding-left: 37px;
        // line-height: 1.6;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-weight: 400;
        @include minWidthXs {
            line-height: 2;
        }
        &::before {
            content: "";
            display: inline-block;
            position: relative;
            top: 5px;
            width: 18px;
            height: 18px;
            background-size: contain;
            margin-right: -20px;
            left: -35px;
        }
    }

    .jobArea {
        &::before {
            background-image: url("#{$imgDir}/recommendJob/topRecommend_01.png");
        }
    }
    .jobSyksy {
        &::before {
            background-image: url("#{$imgDir}/recommendJob/topRecommend_02.png");
        }
    }
    .jobMoney {
        &::before {
            background-image: url("#{$imgDir}/recommendJob/topRecommend_03.png");
        }
    }
    .jobTime {
        &::before {
            background-image: url("#{$imgDir}/recommendJob/topRecommend_04.png");
        }
    }
}

.recommendJobInfoAdd {
    min-height: 0;
    margin-top: auto;
    //padding: 12px;
    background: $recommendJobInfoAddBgColor;
    color: $recommendJobInfoAddTextColor;
    text-align: right;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    @include minWidthXs {
        width: 30px;
        height: 30px;
    }

    .letter {
        display: none;
        font-size: rem(14);
        line-height: 1;
        &::after {
            //content: '\f067';
            position: relative;
            top: -0.1em;
            padding-left: 1em;
            font-family: "Font Awesome 5 Free";
            font-size: rem(11);
            font-weight: 600;
        }
        @include minWidthXs {
            font-size: rem(16);
            &::after {
                font-size: rem(13);
            }
        }
    }
}

[class*="recommendJobButton"] {
    position: absolute;
    top: 57.5%;
    border: none;
    outline: none;
    background: none;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    z-index: 1;
    @include minWidthXs {
        top: 50%;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    .fas {
        color: $recommendJobButtonColor;
        font-size: rem(32);
        line-height: 1;
        @include minWidthXs {
            font-size: rem(70);
        }
    }

    svg {
        width: 15px;
        height: auto;
        @include minWidthXs {
            width: 20px;
        }
    }
}

.recommendJobButtonPrev {
    left: -11.3vw;
    // transform: scale(-1, 1);
    &.tablet {
        left: -30px;
    }
    @include minWidthXs {
        left: -110px;
    }
}

.recommendJobButtonNext {
    right: -11.3vw;
    &.tablet {
        right: -30px;
    }
    @include minWidthXs {
        right: -110px;
    }
}
