//_box_layoutSearchList
//レイアウトスタイル　Box版　SearchList（検索結果一覧）ページ
//レイアウトスタイルはページごとに用意する

#pageAboutLayout {
  min-width:$defInnerWidthPc;//navとコンテンツの合計幅でスクロールバーを出す設定

  @include xs {
    min-width:320px;//navとコンテンツの合計幅でスクロールバーを出す設定
  }
  
  .container {
    display: grid;
    overflow: hidden;
    min-height: 100vh;
    
    grid-template://グリッドの定義
        "pageAboutNav" $defMenuHeightPc
        "pageAbout" auto
        "pageAboutfooter" minmax(min-content, min-content) / minmax($defInnerWidthPc, 100%);
  
    @include xs { //sp時nav領域をなくす
      grid-template:
        "pageAboutNav" $defMenuHeightSp
        "pageAbout" auto
        "pageAboutfooter" minmax(min-content, min-content) / 100%;
    }
  }

  #pageAboutNav {//nav部分
    grid-area: pageAboutNav; //表示エリアの名前
  }

  #cmnFooter{
    grid-area: pageAboutfooter;
  }

  #pageAbout{
    grid-area: pageAbout;
    min-width:825px;//PC時の最小幅設定
    margin: 0 0 0 0;
    @include xs { //sp時最小幅を解放
      min-width:100%;
      margin: 0 0 0 0;//上部隙間対策
    }
  }

}//pageAboutLayout

